.grid-item {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}.grid-item {
    animation: fadeIn 1s ease-in-out;
}

body[layout=docs] .devsite-article {
    background-color: var(--devsite-background-1);
    border: var(--devsite-page-border, 0);
    border-radius: var(--devsite-page-border-radius, 2px);
    box-shadow: var(--devsite-page-box-shadow, 0 1px 2px 0 var(--devsite-elevation-key-shadow-color), 0 1px 3px 1px var(--devsite-elevation-ambient-shadow-color));
    padding: 40px;
}
*, :after, :before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
article {
    display: block;
    unicode-bidi: isolate;
}
devsite-content {
    --devsite-search-term-color: #5f6368;
    --devsite-search-term-weight: 400;
}
devsite-content {
    --devsite-compare-yes-color: #34a853;
    --devsite-compare-no-color: #d93025;
    --devsite-confidential-results-background: hsla(27, 93%, 94%, .5);
    --devsite-search-results-breadcrumb-color: #1e8e3e;
    --devsite-select-sibling-gap-x: 16px;
    --devsite-steps-title-border-focus: 1px solid #174ea6;
    --devsite-steps-title-color: #174ea6;
    --devsite-dropdown-list-border-radius: var(--devsite-dropdown-list-toggle-border-radius);
    --devsite-dropdown-list-min-width: 194px;
    --devsite-dropdown-list-toggle-background-hover: var(--devsite-background-2);
    --devsite-dropdown-list-toggle-border-radius: 4px;
    --devsite-dropdown-list-toggle-color: var(--devsite-secondary-text-color);
    --devsite-dropdown-list-toggle-color-hover: var(--devsite-primary-text-color);
    --devsite-dropdown-list-toggle-button-padding: 0 3px;
    --devsite-dropdown-list-toogle-button-justify-content: center;
}
devsite-code, devsite-content {
    --devsite-code-background: #f1f3f4;
    --devsite-code-color: #37474f;
    --devsite-var-color: #d01884;
}
style attribute {
    --devsite-js-header-height: 120.66666793823242px;
    --devsite-panel-height: 0px;
}
@media screen and (max-width: 840px) {
    [layout][template] {
        --devsite-banner-message-padding: 20px 24px 19px;
    }
}
:root .viewport--tablet {
    --devsite-sys-typescale-tenant--android-headline-1--font-names: var(--devsite-ref-typeface--brand-regular);
    --devsite-sys-typescale-tenant--android-headline-1--font-size: var(--devsite-ref-typeface--size-48);
    --devsite-sys-typescale-tenant--android-headline-1--font-tracking: var(--devsite-ref-typeface--letter-spacing-neg-0-5);
    --devsite-sys-typescale-tenant--android-headline-1--font-weight: var(--devsite-ref-typeface--bold);
    --devsite-sys-typescale-tenant--android-headline-1--line-height: var(--devsite-ref-typeface--line-height-56);
}
body:not([codelabs-content-type=paginated]) {
    --devsite-caution-notice-background: #feefe3;
    --devsite-caution-notice-border-color: transparent;
    --devsite-caution-notice-color: #b31412;
    --devsite-key-point-notice-background: #e8eaf6;
    --devsite-key-point-notice-border-color: transparent;
    --devsite-key-point-notice-color: #3f51b5;
    --devsite-key-term-notice-background: #f3e8fd;
    --devsite-key-term-notice-border-color: transparent;
    --devsite-key-term-notice-color: #9334e6;
    --devsite-note-notice-background: #e8f0fe;
    --devsite-note-notice-border-color: transparent;
    --devsite-note-notice-color: #303f9f;
    --devsite-status-notice-background: #f1f3f4;
    --devsite-status-notice-border-color: transparent;
    --devsite-status-notice-color: #546e7a;
    --devsite-success-notice-background: #e0f2f1;
    --devsite-success-notice-border-color: transparent;
    --devsite-success-notice-color: #00796b;
    --devsite-warning-notice-background: #fce8e6;
    --devsite-warning-notice-border-color: transparent;
    --devsite-warning-notice-color: #a50e0e;
}
[theme=chrome-theme] {
    --devsite-background-1: var(--chrome-background-white);
    --devsite-background-3: var(--chrome-background-gray);
    --devsite-body-background: var(--chrome-background-white);
    --devsite-book-nav-background: var(--chrome-background-white);
    --devsite-book-nav-box-shadow: 1px 0 var(--chrome-background-oficial-gray);
    --devsite-card-background: var(--chrome-background-white);
    --devsite-card-border-radius: 24px;
    --devsite-card-border: 2px solid var(--chrome-background-oficial-gray);
    --devsite-code-margin: 32px -40px;
    --devsite-description-content-font: 16px / 24px "Google Sans", sans-serif;
    --devsite-display-font: 700 64px / 72px var(--devsite-headline-font-family);
    --devsite-elevation-key-shadow-color: hsla(0, 0%, 87%, .16);
    --devsite-first-row-border-radius: 24px;
    --devsite-foreground-color: var(--chrome-primary);
    --devsite-h1-font: 400 48px / 60px "Google Sans", sans-serif;
    --devsite-h2-font: 400 24px / 28px "Google Sans", sans-serif;
    --devsite-h2-margin: 32px 0;
    --devsite-header-border: 1px solid var(--chrome-background-gray);
    --devsite-header-color-lower: var(--chrome-background-gray);
    --devsite-header-foreground-lower-active: var(--devsite-primary-text-color);
    --devsite-header-foreground-lower-focus-active: var(--devsite-primary-text-color);
    --devsite-header-foreground-lower-hover: var(--devsite-primary-text-color);
    --devsite-header-foreground-lower: var(--devsite-primary-text-color);
    --devsite-header-lower-box-shadow: 1px 0 red;
    --devsite-heading-color: var(--devsite-primary-text-color);
    --devsite-label-font: 700 16px / 24px "Google Sans", sans-serif;
    --devsite-landing-group-max-width: 1280px;
    --devsite-landing-row-description-font-size: 16px;
    --devsite-landing-row-item-gap: 24px;
    --devsite-landing-row-item-list-item-description-content-padding: 0 12px;
    --devsite-link-background-active: var(--chrome-google-colors-blue-50);
    --devsite-link-color: var(--chrome-primary);
    --devsite-logo-height: 54px;
    --devsite-nav-accordion-title-font-weight: 500;
    --devsite-nav-color-active: var(--devsite-link-color);
    --devsite-nav-color-active: var(--devsite-primary-text-color);
    --devsite-nav-description-color: var(--chrome-text-text-3);
    --devsite-nav-description-margin: 24px 0;
    --devsite-nav-description-white-space: normal;
    --devsite-nav-font-size: 16px;
    --devsite-nav-heading-color: var(--devsite-primary-text-color);
    --devsite-nav-icon-margin: 3px 0 -1px 10px;
    --devsite-nav-item-line-height: 24px;
    --devsite-nav-title-border-radius: 0 40px 40px 0;
    --devsite-nav-title-color: var(--devsite-primary-text-color);
    --devsite-nav-title-font: 500 20px / 24px "Google Sans", sans-serif;
    --devsite-nav-title-justify-content: space-between;
    --devsite-nav-title-padding: 10px;
    --devsite-nav-title-padding-x: 12px;
    --devsite-nav-toggle-y-start: 10px;
Show all properties (41 more)
}
[theme=chrome-theme] {
    --devsite-primary-color: #1a73e8;
    --devsite-secondary-color: #185abc;
}
@media screen and (max-width: 840px) {
    [layout] {
        --devsite-banner-margin: -24px -24px 24px;
    }
}
[layout=docs], [layout=docs][template=landing] {
    --devsite-banner-message-padding: 20px 40px 19px;
}
[layout=docs] {
    --devsite-banner-margin: -40px -40px 40px;
}
body, html {
    color: var(--devsite-primary-text-color);
    font: 400 16px / 24px var(--devsite-primary-font-family);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
:root {
    --devsite-comp-search-summary--background: var(--devsite-ref-palette--ai-main);
}
:root {
    --chrome-background-gray: #f5f6f7;
    --chrome-background-gray-2: #e1e9f6;
    --chrome-background-oficial-gray: #f5f6f7;
    --chrome-background-white: #fff;
    --chrome-google-colors-blue-50: #e8f0fe;
    --chrome-google-colors-blue-800: #185abc;
    --chrome-illustration-colors-blue: #006bee;
    --chrome-illustration-colors-yellow: #ffa000;
    --chrome-illustration-colors-green: #34a853;
    --chrome-illustration-colors-red: #ea3323;
    --chrome-primary: #1a73e8;
    --chrome-text-text-1: #202124;
    --chrome-text-text-2: #202124;
    --chrome-text-text-3: #80868b;
}
:root {
    --devsite-headline-font-family: Google Sans, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
    --devsite-heading-color: #202124;
    --devsite-display-font: 400 44px / 52px var(--devsite-headline-font-family);
    --devsite-h1-font: 400 32px / 40px var(--devsite-headline-font-family);
    --devsite-h1-letter-spacing: 0;
    --devsite-h1-margin: 48px 0 24px;
    --devsite-h2-border: 0;
    --devsite-h2-font: 400 24px / 32px var(--devsite-headline-font-family);
    --devsite-h2-letter-spacing: 0;
    --devsite-h2-margin: 48px 0 24px;
    --devsite-h2-padding: 0;
    --devsite-h3-font: 400 20px / 28px var(--devsite-headline-font-family);
    --devsite-table-heading-font: 500 14px / 20px var(--devsite-primary-font-family);
    --devsite-wordmark-font: 400 22px / 32px var(--devsite-headline-font-family);
    --devsite-button-background-hover: #e8f0fe;
    --devsite-button-background-active: #e8f0fe;
    --devsite-button-border: 1px solid #dadce0;
    --devsite-button-border-hover: 1px solid #d2e3fc;
    --devsite-button-border-active: 1px solid #e8f0fe;
    --devsite-button-border-radius: 4px;
    --devsite-button-box-shadow: none;
    --devsite-button-box-shadow-active: 0 1px 2px 0 var(--devsite-elevation-key-shadow-color), 0 2px 6px 2px var(--devsite-elevation-ambient-shadow-color);
    --devsite-button-font: 500 14px / 36px var(--devsite-headline-font-family);
    --devsite-button-line-height: 34px;
    --devsite-button-padding: 0 24px;
    --devsite-button-text-transform: none;
    --devsite-background-button-color: #d2e3fc;
    --devsite-background-button-color-hover: #d2e3fc;
    --devsite-button-disabled-background: transparent;
    --devsite-button-disabled-border: 1px solid #f8f9fa;
    --devsite-button-disabled-color: #9aa0a6;
    --devsite-button-disabled-line-height: 34px;
    --devsite-button-primary-background: #1a73e8;
    --devsite-button-primary-background-hover: #1765cc;
    --devsite-button-primary-background-active: #185abc;
    --devsite-button-primary-box-shadow-hover: 0 1px 2px 0 var(--devsite-elevation-key-shadow-color), 0 1px 3px 1px var(--devsite-elevation-ambient-shadow-color);
    --devsite-background-button-primary-background-hover: #e8f0fe;
    --devsite-background-button-primary-color: #d2e3fc;
    --devsite-background-button-primary-color-hover: #d2e3fc;
    --devsite-button-white-background-hover: #e8f0fe;
    --devsite-button-white-background-active: #e8f0fe;
    --devsite-button-white-box-shadow-active: 0 1px 2px 0 var(--devsite-elevation-key-shadow-color), 0 1px 3px 1px var(--devsite-elevation-ambient-shadow-color);
    --devsite-button-raised-background-hover: #e8f0fe;
    --devsite-button-raised-background-active: #e8f0fe;
    --devsite-button-with-icon-padding: 0 15px;
    --devsite-button-material-icon-margin-x: -12px;
    --devsite-button-white-material-icon-margin-x: 0;
    --devsite-card-border: var(--devsite-primary-border);
    --devsite-card-border-radius: 8px;
    --devsite-card-box-shadow: none;
Show all properties (11 more)
}
:root {
    --devsite-code-font-family: Roboto Mono, monospace;
    --devsite-primary-font-family: Roboto, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
    --devsite-h1-margin: 40px 0 20px;
    --devsite-h2-margin: 40px 0 20px;
    --devsite-h3-margin: 32px 0 16px;
    --devsite-h4-font: 500 16px / 24px var(--devsite-primary-font-family);
    --devsite-h5-font: 700 14px / 24px var(--devsite-primary-font-family);
    --devsite-h6-font: 500 14px / 24px var(--devsite-primary-font-family);
    --devsite-background-0: #e8eaed;
    --devsite-background-1: #fff;
    --devsite-background-2: #f8f9fa;
    --devsite-background-3: #f1f3f4;
    --devsite-background-4: #e8eaed;
    --devsite-background-5: #dadce0;
    --devsite-primary-text-color: #202124;
    --devsite-primary-text-rgba: rgba(0, 0, 0, .87);
    --devsite-secondary-text-color: #5f6368;
    --devsite-secondary-text-rgba: rgba(0, 0, 0, .65);
    --devsite-tertiary-text-color: #bdc1c6;
    --devsite-tertiary-text-rgba: rgba(0, 0, 0, .26);
    --devsite-inverted-text-color: #fff;
    --devsite-inverted-text-color-hover: hsla(0, 0%, 100%, .7);
    --devsite-inverted-text-rgba: hsla(0, 0%, 100%, .7);
    --devsite-primary-border: 1px solid #dadce0;
    --devsite-secondary-border: 1px solid #e8eaed;
    --devsite-elevation-key-shadow-color: rgba(60, 64, 67, .3);
    --devsite-elevation-ambient-shadow-color: rgba(60, 64, 67, .15);
    --devsite-elevation-inset-shadow-color: hsla(210, 6%, 63%, .5);
    --tenant-background-1: #fff;
    --tenant-background-2: #f8f9fa;
    --tenant-background-3: #f1f3f4;
    --tenant-primary-text-color: #202124;
    --tenant-secondary-text-color: #5f6368;
    --tenant-inverted-text-color: #fff;
    --tenant-primary-border: 1px solid #dadce0;
    --tenant-secondary-border: 1px solid #e8eaed;
    --devsite-link-background: #d2e3fc;
    --devsite-link-background-active: #e8f0fe;
    --devsite-link-color: #1a73e8;
    --devsite-contrast-link-color: #185abc;
    --devsite-button-background-hover: #e4eefc;
    --devsite-button-background-active: #c8ddf9;
    --devsite-button-color: #1a73e8;
    --devsite-banner-archived-background: #fce8e6;
    --devsite-banner-archived-color: #a50e0e;
    --devsite-banner-confidential-background: #feefe3;
    --devsite-banner-confidential-color: #a50e0e;
    --devsite-banner-deprecated-background: #fef7e0;
    --devsite-banner-deprecated-color: #a50e0e;
    --devsite-button-primary-color: #fff;
Show all properties (29 more)
}
:root {
    --devsite-ref-measurement--px-0: 0px;
    --devsite-ref-measurement--px-1: 1px;
    --devsite-ref-measurement--px-104: 104px;
    --devsite-ref-measurement--px-108: 108px;
    --devsite-ref-measurement--px-112: 112px;
    --devsite-ref-measurement--px-12: 12px;
    --devsite-ref-measurement--px-128: 128px;
    --devsite-ref-measurement--px-14: 14px;
    --devsite-ref-measurement--px-144: 144px;
    --devsite-ref-measurement--px-15: 15px;
    --devsite-ref-measurement--px-16: 16px;
    --devsite-ref-measurement--px-168: 168px;
    --devsite-ref-measurement--px-17: 17px;
    --devsite-ref-measurement--px-172: 172px;
    --devsite-ref-measurement--px-18: 18px;
    --devsite-ref-measurement--px-190: 190px;
    --devsite-ref-measurement--px-192: 192px;
    --devsite-ref-measurement--px-2: 2px;
    --devsite-ref-measurement--px-20: 20px;
    --devsite-ref-measurement--px-24: 24px;
    --devsite-ref-measurement--px-25: 25px;
    --devsite-ref-measurement--px-26: 26px;
    --devsite-ref-measurement--px-28: 28px;
    --devsite-ref-measurement--px-3: 3px;
    --devsite-ref-measurement--px-32: 32px;
    --devsite-ref-measurement--px-36: 36px;
    --devsite-ref-measurement--px-4: 4px;
    --devsite-ref-measurement--px-40: 40px;
    --devsite-ref-measurement--px-45: 45px;
    --devsite-ref-measurement--px-48: 48px;
    --devsite-ref-measurement--px-5: 5px;
    --devsite-ref-measurement--px-50: 50px;
    --devsite-ref-measurement--px-52: 52px;
    --devsite-ref-measurement--px-56: 56px;
    --devsite-ref-measurement--px-6: 6px;
    --devsite-ref-measurement--px-60: 60px;
    --devsite-ref-measurement--px-64: 64px;
    --devsite-ref-measurement--px-65: 65px;
    --devsite-ref-measurement--px-72: 72px;
    --devsite-ref-measurement--px-8: 8px;
    --devsite-ref-measurement--px-80: 80px;
    --devsite-ref-measurement--px-88: 88px;
    --devsite-ref-measurement--px-90: 90px;
    --devsite-ref-opacity--alpha-00: 0;
    --devsite-ref-opacity--alpha-03: 0.03;
    --devsite-ref-opacity--alpha-04: 0.04;
    --devsite-ref-opacity--alpha-05: 0.05;
    --devsite-ref-opacity--alpha-06: 0.06;
    --devsite-ref-opacity--alpha-08: 0.08;
    --devsite-ref-opacity--alpha-09: 0.09;
Show all properties (901 more)
}
*, :after, :before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
*, :after, :before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}